<h1>this is home</h1>

 <form class="form-horizontal">
        <div class="form-group">
          <label for="name">beverageName</label>
          <input type="text" class="form-control" id="drinkName" placeholder="beverage name" ng-model="defaultForm.beverageName">
        </div>
        <div class="form-group">
          <label for="description">Date</label>
          <input type="text" class="form-control" id="description" placeholder="description" ng-model="defaultForm.description">
        </div>
        <div class="form-group">
          <label for="caffeine-level">caffeine-level</label>
          <input type="text" class="form-control" id="caffeine-level" placeholder="caffeine-level" ng-model="defaultForm.caffeine">
        </div>
        
        <button type="submit" class="btn btn-default" ng-click="drinkList(defaultForm)">Submit</button>
      </form>
      <div ng-if="message">[[message]]</div>
      <div> 
      <ul ng-repeat="drink in allDrinkList">
        <li>[[drink.name]] </li>
        <li>[[drink.description]] </li>
        <li>[[drink.caffeineLevel]] </li>

      </ul>

      </div>